* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 5px;
    width: 500px;
    height: 30px;
    outline: none;
    border: 2px solid #D2D2D2;
    padding-left: 5px;
}

input:focus {
    border: 2px solid #818181;
    background-color: #efeeee;
}

.addNewActivity-btn {
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #D2D2D2;
    cursor: pointer;
    background-color: var(--primary-green);
    color: white;
}

.addNewActivity-btn:hover {
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

.add-activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3BD18;
    /* margin: 5em 3em 2em 3em; */
    border-radius: 2em;
    position: relative;
    padding-top: 20px;
    z-index: 99999;
    width: 80%;
    top: 12vh;
    margin: 0 10vw;
    margin-bottom: 7em;

}

.add-activity-container h1 {
    border-bottom: 2px solid #818181;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
    font-weight: 800;
}

.add-activity-container h4 {
    margin-top: 10px;
    font-size: 20px;
}

label{
    font-size: 15px;
}
.activity-imgs {
    display: flex;
    justify-content: center;
    margin: 0px 450px -10px 450px;
    padding: 8px;
    gap: 55px;
    border-radius: 5px;
}
.activity-imgs>button{
    border: 0;
    border-radius: 5px;
    background-color: transparent;
}

.activity-imgs img {
    height: 50px;
    width: 50px;
    background-color: transparent;
    padding: 7px;
    border-radius: 5px;
    transition: 200ms;
}

.activity-imgs img:hover {
    background-color: white;
    cursor: pointer;
}
/* .activity-imgs button:focus {
    border: 2px solid black;
    background-color: white;
} */

#activityType{
    margin-top: 5px;
    margin-bottom: -40px;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.error-message{
    color: red;
}

#type-error{
    margin-bottom: 0px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    
    input{
        width: 350px;
    }
    .activity-imgs {
        gap: 18px;
    }
}
