@import "./style/global.css";

.body-formpage{
    /* overflow: scroll; */
    width: 100%;
    position: fixed;
    top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-yellow);
    border-radius: 30px;
    border: none;
    width: 70%;
}

.form-box>input[type="file"]{
    margin: 20px;
    border-radius: 0;
}

.form-box>button{
    border: none;
    border-radius: 30px;
    font-size: 30px;
    width: 150px;
    color: white;
    background-color: var(--primary-green);
    margin: 20px;
}

.form-box>button:hover{
    background-color: var(--primary-orange);
}

.form-box>input{
    width: 80%;
    text-align: center;
    border-radius: 30px;
    height: 30px;
}

.form-box>p{
    margin: 0;
    text-align: center;
}

.form-box>p>b{
    font-size: 30px;
}

.user-photo{
    border-radius: 100%;
    margin: 10px;
    width: 80%;
}

.goal-status{
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.runner{
    width: 30px;
    
}

.goal{
    width:30px;
    /* height: 50px; */
}

.runner-box{
    width: 100%;
}

.runner-status{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--primary-orange);
}