@import "./style/global.css";

#error-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .button-errorpage{
    background-color: var(--primary-green);
    width: 120px;
    border-radius: 30px;
  }

  .button-errorpage>a{
    text-decoration: none;
    color: white;
    font-size: 25px;
  }